/* START OF RESET STYLES */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain) */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END OF RESET STYLES */

/* ----------------- MY CODE ----------------- */

/* ALL */

* {
    font-family: 'Work Sans', Helvetica, sans-serif;
}

header, footer {
    margin: 0 auto;
}


footer {
    text-align: center;
    padding: 36px 0px;
    line-height: 1.5;
    font-family: 'Work Sans', Helvetica, sans-serif;
    color: #CACAAA;
    border-top: 2px solid #CACAAA;
}

body {
    display: block;
    width: 1280px;
    margin: 0 auto;
    background-image: url(chevron.png);
}

h1 {
    text-align: center;
    padding: 48px 0px;
    font-size: 76px;
    letter-spacing: 3pt;
    font-weight: 800;
    font-style: italic;
    font-family: 'Work Sans', Helvetica, sans-serif;
    color: #EEEEEE;
    background-color: #7F636E;
    text-shadow: 0px 0px 6px #3D405B;
}

h1 > a {
    text-decoration: none;
}

h1 > a:visited {
    color: #EEEEEE;
}

nav {
    display: block;
    text-align: center;
    padding: 28px 0px;
    font-family: 'Work Sans', Helvetica, sans-serif;
    font-weight: 500;
    font-size: 14px;
    background-color: #5c454e;
}

nav li {
    display: inline;
}

nav a {
    display: inline;
    text-decoration: none;
    color: #CACAAA;
    font-weight: 700;
    background-color: #7F636E;
    padding: 12px 16px;
    margin: 0px 32px;
    border-radius: 10px;
    border: 1px solid #cacaaa4c;
}

nav a:hover {
    background-color: #CACAAA;
    color: #EEEEEE;
}

nav a:active {
    background-color: #3D405B;
    color: #EEEEEE;
}

h2, h3, p {
    font-family: 'Work Sans', Helvetica, sans-serif;
}


/* INDEX */


main {
    padding: 52px 92px 76px 92px;
    display: block;
    background-image: linear-gradient(rgb(129, 178, 154, 0.3), rgb(127, 99, 110, 0.15)); 
}


h2.home-h2 {
    font-size: 46px;
    font-weight: 600;
    line-height: 1.25;
    display: inline-block;
    width: 50%;
    text-align: center;
    padding: 86px 0px 16px 0px;
    margin: 0 auto;
    color: #3D405B;
    text-shadow: 2px 2px 5px #55868C;
}

h3.home-h3 {
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 36px;
    color: #3D405B;
}

p.home-p {
    font-size: 18px;
    text-align: center;
    font-weight: 400;
    font-style: italic;
    color: #3D405B;
}

.images {
    width: 1280px;
    height: auto;
}

#grid-container {
    display: grid;
    width: 1280px;
    margin: 0 auto;
    background-color: rgba(242, 204, 143, 0.3);
}

#header {
    float: right;
    width: 40%;
    height: auto;
    border-radius: 4px;
    border: 1.5px solid rgba(129, 178, 154, 0.6);

}

#menu {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    display: inline-block;
    width: 20%;
    text-align: center;
    margin-left: 150px;
    color: #3D405B;
    background-color: #CACAAA;
    padding: 8px 16px;
    border-radius: 10px;
    border: 1px solid #EEEEEE;
}

#menu:hover {
    color: #EEEEEE;
    background-color: #7F636E;
}

#menu:active {
    background-color: #3D405B;
    color: #EEEEEE;
}

#cater {
    padding: 64px 0px;
    background-image: linear-gradient(rgba(127, 99, 110, 0.15), rgba(127, 99, 110, 0.4));
}

#local {
    padding-bottom: 128px;
    background-image: linear-gradient(rgba(127, 99, 110, 0.8), rgba(127, 99, 110, 0));
}

#local-h3 {
    padding-top: 32px;
}

#chef {
    padding-bottom: 124px;
    background-image: linear-gradient(rgba(127, 99, 110, 0.8), rgba(127, 99, 110, 0));
}

#chef-h3 {
    padding-top: 32px;
}



/* CONTACT */


form {
    display: inline-block;
	width: 50%;
    text-align: left;
	margin: 0 auto;
    padding-left: 64px;
}

label, input[type=text], input[type=tel], input[type=email], select, textarea {
    width: 100%;
}

#contact-h2 {
    font-size: 24px;
    margin: 0 auto;
    text-align: center;
    padding: 36px 0px 24px 0px;
}

#contact-p {
    text-align: center;
    padding-bottom: 64px;
}

#grid-container-contact {
    display: grid;
    width: 1280px;
    margin: 0 auto;
}

#main-contact {
    margin: 0 auto;
}

#stairs {
    float: left;
    width: 45%;
    height: auto;
}

#section {
    display: block;
    width: 1280px;
}

.form-p {
    padding: 8px 0px;
}